@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

*{
    font-family: $font;
    color: $font-color; 
}
header {
    font-size: 24pt;
    margin: 5px;
    padding: 5px;
}
nav {
    font-size: $nav-font-size;
}
grid{
    margin: 5px;
}
card {
    background-color: $card-bg;
    font-size: $card-font-size;
    color: $card-font-color;
}

