$card-bg: rgb(165, 201, 243);
$font: "Lucida Console", Monaco, monospace;
$card-font-color: rgba(4, 11, 114, 0.541);
$font-color: rgb(128, 25, 25);
$card-font-size: 14pt;
$nav-font-size: 16pt;
$modal-font: 12pt;