<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Natalie's Idea Tank</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/styles.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>Natalie's (Failed) Shark Tank Ideas</header>
    <nav>
        <a href="#towel">Wet Towel</a> |
        <a href="#laptop">Laptop Uncharger</a> |
        <a href="#one">Colander for One</a> |
        <a href="#sugar">Sugar Straw</a>
        <a href="#water">Water Fryer</a> |
        <a href="#concrete">Concrete Baseballs</a> |
        <a href="#shoe">Shoelace</a> |
        <a href="#never">The Neverpot</a>
        <a href="#three">Tres</a> |
        <a href="#eb">The E-board</a>
    </nav>
    <div class="modal fade" id="wettowel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wet Towel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Use it once, then never again.
                    <p class="credit">Picture Credit: Photo by Giorgio Trovato on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uncharger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">A Laptop Uncharger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The enemy of every college student.
                    <p class="credit">Picture Credit: Photo by CoWomen on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="colander" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Colander for One</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Estimated Time of Use (before getting frustrated): 30 seconds.
                    <p class="credit">Picture Credit: Photo by Roman Kraft on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="straw" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suagr Straw</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Have your daily serving of sugar in one sip!
                    <p class="credit">Picture Credit: Photo by Mae Mu on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fryer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Water Fryer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Elemental Cooking Co. is not associated with Air Fryer.
                    <p class="credit">Picture Credit: Photo by Yeon Li on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="baseball" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Concrete Baseballs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Free Waiver with every purchase.
                    <p class="credit">Picture Credit: Photo by Jose Morales on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shoelace" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shoelace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Gives you less while somehow being harder to work with.
                    <p class="credit">Picture Credit: Photo by Andrew Itaga on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="neverpot" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">The Neverpot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    I should probably stop making kitchen products.
                    <p class="credit">Picture Credit: Photo by Jason Briscoe on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tres" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tres</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Proven to ruin three times the friendships!
                    <p class="credit">Picture Credit: Photo by Tony Hand on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eboard" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">The E-board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    One E key or a keyboard filled with E's? eeeeeeeeeeeee
                    <p class="credit">Picture Credit: Photo by Immo Wegmann on Unsplash</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdlbtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" id="towel">
                    <div class="card-body">
                        <img src="/public/img/wet_towel.jpg" alt="Wet towel hanging on a towel rack">
                        <h5 class="card-title">The Wet Towel</h5>
                        <p class="card-text">A towel that absolutely refuses to dry!</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wettowel">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="laptop">
                    <div class="card-body">
                        <img src="/public/img/laptop.jpg" alt="Laptops spread out on a table">
                        <h5 class="card-title">A Laptop Uncharger</h5>
                        <p class="card-text">Has your laptop ever been too charged?</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uncharger">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" id="one">
                    <div class="card-body">
                        <img src="/public/img/colander.jpg" alt="A small colander">
                        <h5 class="card-title">Colander for One</h5>
                        <p class="card-text">*Not for one person, for one piece of pasta at a time.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#colander">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="sugar">
                    <div class="card-body">
                        <img src="/public/img/sugarstraw.jpg" alt="Sugar cubes stacked together">
                        <h5 class="card-title">Sugar Straw</h5>
                        <p class="card-text">A sweet treat that lasts 5 seconds.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#straw">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" id="water">
                    <div class="card-body">
                        <img src="/public/img/waterfryer.jpg" alt="Steaming pot">
                        <h5 class="card-title">Water Fryer</h5>
                        <p class="card-text">Coming Soon: Earth Fryer, Fire Fryer</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fryer">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="concrete">
                    <div class="card-body">
                        <img src="/public/img/concretebaseball.jpg" alt="Two baseballs held in a hand">
                        <h5 class="card-title">Concrete Baseballs</h5>
                        <p class="card-text">Give yourself a real challenge.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#baseball">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" id="shoe">
                    <div class="card-body">
                        <img src="/public/img/shoelaces.jpg" alt="Sneakers with untied shoelaces">
                        <h5 class="card-title">Shoelace</h5>
                        <p class="card-text">A less stable Bootstrap to do less for you.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shoelace">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="never">
                    <div class="card-body">
                        <img src="/public/img/neverpot.jpg" alt="Orange pots with clear covers">
                        <h5 class="card-title">The Neverpot</h5>
                        <p class="card-text">Who wants food instantly when you can have it never?</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#neverpot">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" id="three">
                    <div class="card-body">
                        <img src="/public/img/tres.jpg" alt="Number 3 on a blue background">
                        <h5 class="card-title">Tres</h5>
                        <p class="card-text">The sequel to the sequel to Uno.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tres">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="eb">
                    <div class="card-body">
                        <img src="/public/img/keyboard.jpg" alt="Keyboard focused on an E key">
                        <h5 class="card-title">The E-board</h5>
                        <p class="card-text">A keyboard just for typing E's.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eboard">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>